<nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand"    href="/">
        <img id= "nav-image"src="/images/survey32px.png" alt="question box"> 
        <span id="nav-title">Can you help me?</span>
    </a>
</nav>